
@{
    ViewBag.Title = "GetEvent";
}

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 d-inline">
        <div class="col-lg-6 col-md-6 col-sm-12" style="display: inline-block;">
            <a href="/">
                <img style="height:100%; padding: 20px 0px;" alt="Logo"
                     src="~/Content/parkevent_logo.png">
            </a>

            <img id="eventImage" style="width: 350px; height:auto; margin:15px; border: inset; border-width: 5px; border-color:#ffffff;" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/05/03/15/ok-hand.jpg">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-inline" style="float: right; text-align: center;">
            <h1 id="eventTitle" style="width:auto;
                height: 100%;
                font-family: Verdana;
                font-size: 25px;
                position: relative;
                top: 110px;
                padding: 0px 0px 30px 0px;
                vertical-align: middle;">
                Titel_evenement
            </h1>
            <a href="/home/Planreis/@ViewBag.id">
                <img style="width: 75%;
                    position: relative;
                    top: 110px;
                    border-style: outset;
                    border-width: 5px;
                    border-color:  rgba(6, 4, 45, 0.65);
                    border-radius: 5px;
                    background-color:  rgba(6, 4, 45, 0.45);
                    vertical-align: middle;" src="/Content/plan_reis_knop.png">
            </a>
        </div>
        <div>
            <div id="omschrijving"
                 style="width: 100%;
                    height: 450px;
                    border-style:inset;
                    border-width: 5px;
                    border-color: #ffffff;
                    padding: 5px;
                    word-wrap: break-word;
                    background: #ffffff;
                    font-family: Verdana;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    display:inline-grid;
                    ">

                <p>
                    Hierin komt standaard tekst te staan over het evenement.
                </p>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-inline" style="float: right;">
        <div id="map"
             style="width:100%;
            height: 900px;
            padding-right: 10px;
            margin-top: 20px;">
        </div>
    </div>

</div>

@section scripts {
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdfq1uS9vUK5O-eTSgbZnAfFgq8VGG1-I">
    </script>
    <script>
        var map;
        $(document).ready(function() {
            $.ajax({
                url: "https://app.ticketmaster.com/discovery/v2/events.json?countryCode=nl&apikey=KTmwKGyLJSOws2LFF9Al78erEjIRRF1u&id=" + "@ViewBag.Id",
                success: function (result) {
                    //Event name
                    $('#eventTitle').html(result['_embedded']['events'][0]['name'])
                    //Event image
                    $('#eventImage').attr('src', result['_embedded']['events'][0]['images'][0]['url'])


                    var uluru = { lat: 51.9173974, lng: 4.4817288 };
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12,
                        center: uluru
                    });


                    //Long lat on google maps
                    var long = result['_embedded']['events'][0]['_embedded']['venues'][0]['location']['longitude'];
                    var lat = result['_embedded']['events'][0]['_embedded']['venues'][0]['location']['latitude'];
                    var uluru = { lat: parseFloat(lat), lng: parseFloat(long) };
                    map.setCenter(uluru);
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });


                    console.log(result['_embedded']['events'][0])
                    // description
                    $("#omschrijving").html(result['_embedded']['events'][0]['name'] + "<br /> Datum: " + result['_embedded']['events'][0]['dates']['start']['localDate'] + " " + result['_embedded']['events'][0]['dates']['start']['localTime'] + " <br /> Locatie: " +
                        result['_embedded']['events'][0]["_embedded"]['venues'][0]["address"]["line1"] + " " + result['_embedded']['events'][0]["_embedded"]['venues'][0]["city"]["name"]
                        + " <br /> <a href=\"" + result['_embedded']['events'][0]['url'] + "\"> <img style=\"border: outset; border-width: 5px; border-color: rgba(6, 4, 45, 0.65); background-color:  rgba(6, 4, 45, 0.45); border-radius: 5px;\"src=\"/content/ticketskopen.png\" /> </a>");
                }
            })
        });
    </script>

}